language: python

python:
- 2.6
- 2.7
- 3.2
- 3.3

# command to run tests, e.g. python setup.py test
install: pip install -r requirements.txt

before_script: cython ext/_yaml.pyx

script: python setup.py test
